.main{
display: flex;
flex-direction: column;
}





////////* NAVBAR CSS*//////////
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  min-height: 70px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0px 0px 5px 0px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
  vertical-align: middle;
}

@media all and (max-width: 800px) {
  .navbar {
    justify-content: center;
  }
}

@media all and (max-width: 500px) {
  .navbar {
    justify-content: center;
  }
}

#navBarIcon{
display: inline;
vertical-align: middle;
margin-left: 20px;
margin-top: 7px;
}

#navBarIcon:hover{
  cursor: pointer;
  transform: scale(1.2, 1.2);
}

img {
 margin-left: 10px;
 vertical-align: middle;
}

 #dreamWord{
 font-family: 'Roboto', sans-serif;
  display: inline;
  font-size: 2.375rem;
  color: #5f6368;
  font-family:sans-serif;
  margin-left: 10px;
}

//////////* NAVBAR CSS*////////////




ul {
  padding-inline-start: 0px;
}


ul li{
  list-style-type: none;
  font-family:sans-serif;
  padding: 10px;
}

li:hover{
  background-color: #e8e8e8;
}


#sideMenuBox{
  padding-left: 0px;
  margin-left: -30px;
}

#sideBar{
  font-size: 18px;
  flex-direction: column;
  background-color: #f5f5f5;
  color: black;
  width: auto;
  height: 800px;
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;

}

@media all and (max-width: 500px) {
  #sideBar {
    width: 100%;
    justify-content: center;
  }
}

#sideBar.hide{
  transform: translate3d(-100vw, 0, 0);
}
#sideBar.show{
  transform: translate3d(0vw, 0, 0);
}


#border{
    border-bottom: 1px solid #e0e0e0;
    width: 23.2rem;
    margin: 1.2rem 0;
    margin-left: 1.6rem;
}

#entity.hide{
  background-color: #f5f5f5;
}
#entity.show{
  background-color: blue;
}


span {
  margin-right: 20px;
}

.btn-success{

  margin-bottom: 4rem;
}

#map{
  height: 800px;
  padding-left:0px;
}
#menuBox{
 padding-right: 0px;
 padding-inline-start: 0px;
}
#icon{
  margin-right: 20px;
  width:3vw;
  height:auto;
}

.entityInfo {
background-color: white;
font-family: 'Roboto', sans-serif;
margin-bottom: 3px;
white-space: initial;
word-wrap: break-word;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);

}
#arrow{
  opacity: 0.6;
  float: right;
  margin-top: 15px;
}


.backButton{
  text-align: right;
  padding-right: 5%;
  width:100%;
  height:auto;
}