
#dreamWord{
   font-family: 'Roboto', sans-serif;
  display: inline;
  font-size: 2.375rem;
  color: #5f6368;
  font-family:sans-serif;
  margin-left: 10px;
}

#navBar{
  background-color: #fff;
}

#map{
  margin-top:5px;
  height: 800px;
  padding-left: 0px;
}

#chartData{
  overflow-y: auto;
  padding: 0px;
  width: 240px;
}

#title .MuiTypography-subheading-55{
 font-size: 1.5rem;
 width: 100px;
}

#icon{
  margin-right: 20px;
  width:3vw;
  height:auto;
}

#bell{
  color: grey;
}

#entitySpecific .MuiTypography-subheading-55{
  font-size: 1.5rem;
  padding-left: 15px;
  font-family: 'Roboto';
  width: 200px;
  height: 20px;
  border-radius: 20px;
}

.MuiCollapse-entered-134{
  width:250px;
}

#arrow{
  width: 290px;
  padding-left: 72%;
  position: absolute;
  opacity: 0;
}

#arrow:hover{
  opacity:1;
}





#entitySpecific .MuiListItem-root-116.MuiListItem-selected-126 {
  font-size: 1.5rem;
  padding-left: 25px;
  font-family: 'Roboto';
  background-color: #D2E3FC;
  width: 230px;
  height: 40px;
  padding-top: 10px;

  border-radius:20px;
}


#cardName .MuiTypography-subheading-55{
  font-size: 2rem;
  color: blue;
}


#pinDrop .MuiTypography-subheading-55 {
  font-size: 1.9rem;
  color: #5F6368;
}

#pinDrop .MuiTypography-body1-57{
  font-size: 1rem;
  color: #5F6368;
}

#pin .MuiSvgIcon-root-92{
  font-size: 34px;
}

#postal .MuiTypography-subheading-55{
  font-size: 1.5rem;
  color: #5F6368;

}

#email .MuiTypography-subheading-55{
  font-size: 2rem;
  color: blue;
}

#entityarrow {
 position: absolute;
  opacity: 1;
  width: 100px;
  opacity: 0;
   margin-left: 62%;
}


#entitySpecific .MuiListItem-root-116.MuiListItem-selected-126 #entityarrow {
  position: absolute;
  opacity: 1;
  width: 100px;
  margin-left: 62%;
}

#entitySpecific .MuiListItem-root-116.MuiListItem-selected-126 .MuiTypography-subheading-55 {
  color: blue;
  font-size: 1.5rem;
  padding-left: 15px;
  font-family: 'Roboto';
  width: 200px;
  height: 20px;
  border-radius: 20px;
}
